{
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "eslint-config-ksmithut/es6",
  "rules": {
    "strict": 0,
    "global-require": 0,
    "no-console": 0,
    "prefer-const": 0,
    "valid-jsdoc": 0
  }
}
